<footer class="bg-dark text-white">
    <div class="container-md">
        <div class="row pb-3">
            <h2 id="contact" class="my-3">Kontakt</h2>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <address>
                    <ul class="contact-list">
                        <li class="contact-list__item">
                            <i class="bi bi-person-circle"></i>
                            <span>Mgr. Michal Vičar, Ph.D.</span>
                        </li>
                        <li class="contact-list__item">
                            <i class="bi bi-geo-alt"></i>
                            <div>
                                <span>Univerzita Palackého v&nbsp;Olomouci</span>
                                <span>Fakulta&nbsp;tělesné&nbsp;kultury | Katedra&nbsp;rekreologie |</span>
                                <span>třída&nbsp;Míru&nbsp;117, 771&nbsp;11&nbsp;Olomouc | NC&nbsp;3.20</span>
                            </div>
                        </li>
                        <li class="contact-list__item">
                            <i class="bi bi-envelope"></i>
                            <a href="mailto:michal.vicar@upol.cz" class="text-white">michal.vicar@upol.cz</a>
                        </li>
                        <li class="contact-list__item">
                            <i class="bi bi-telephone"></i>
                            <a href="tel:+420731268440" class="text-white">+420 731 268 440</a>
                        </li>
                        <li class="contact-list__item">
                            <i class="bi bi-globe"></i>
                            <a href="//www.michalvicar.cz" class="text-white">www.michalvicar.cz</a>
                        </li>
                    </ul>
                </address>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <ul class="footer-nav">
                    <li class="footer-nav__item">
                        <a href="{% url 'sportdiag:gdpr' %}" class="text-white">Zásady ochrany osobních údajů - GDPR</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>