<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'sportdiag:home' %}">Sportdiag</a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sportdiag:index' %}">Úvodní stránka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sportdiag:beneficiaries' %}">Beneficienti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sportdiag:contact' %}">Kontakt</a>
                </li>
                {% if request.user.is_authenticated and request.user.is_researcher %}
                    <div class="vr text-white d-none d-lg-block"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i class="bi bi-check2-circle"></i> Test</a>
                    </li>
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <!-- text-primary -->
                            <a class="nav-link" href="{% url 'sportdiag:approve_psychologists' %}">
                                <i class="bi bi-check2-circle"></i> Schvalování psychologů</a>
                        </li>
                        <li class="nav-item">
                            <!-- text-primary??? -->
                            <a class="nav-link" href="{% url 'sportdiag:researchers_overview' %}">
                                <i class="bi bi-people-fill"></i> Přehled výzkumníků</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_psychologist %}
                        <li class="nav-item my-2 mx-lg-2">
                            <a class="btn btn-primary" href="{% url 'sportdiag:invite_client' %}">
                                <i class="bi bi-plus-circle"></i> Pozvat klienta</a>
                        </li>
                    {% endif %}
                    <li class="nav-item my-2 mx-lg-2">
                        <a class="btn btn-outline-secondary" href="">
                            <i class="bi bi-gear-fill"></i> Nastavení</a>
                    </li>
                    <li class="nav-item my-2 mx-lg-2">
                        <a class="btn btn-outline-secondary" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-left"></i> Odhlásit se</a>
                    </li>
                {% else %}
                    <li class="nav-item my-2 mx-lg-2">
                        <a class="btn btn-outline-primary" href="{% url 'signup' %}">
                            <i class="bi bi-person-plus-fill"></i> Registrovat se</a>
                    </li>
                    <li class="nav-item my-2 mx-lg-2">
                        <a class="btn btn-outline-secondary" href="{% url 'login' %}">
                            <i class="bi bi-box-arrow-in-right"></i> Přihlásit se</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>