{% extends 'sportdiag/common/base.html' %}

{% block title %}Sportdiag | Schvalování psychologů{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Schvalování psychologů</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col fw-light">
            <p>V seznamu vidíte nově registrované psychology, kteří v rámci procesu registrace již potvrdili svou
                e-mailovou adresu a nyní čekají
                na potvrzení registrace vámi.</p>
            <p>Pokud registraci libovolného psychologa schválíte, bude proces jeho registrace dokončen a jeho účet bude
                od té chvíle aktivní (bude se moci přihlásit do aplikace a používat ji).</p>
            <p>Pokud registraci psychologa zamítnete, bude jeho založený účet ze systému vymazán, může se však
                registrovat znovu a poté vás systém opět upozorní e-mailem na novou registraci psychologa a psycholog se
                znovu objeví v seznamu níže.</p>
            <p>Ať už se rozhodnete registraci schválit nebo zamítnout, systém o vašem rozhodnutí psychologa informuje
                e-mailem s potřebnými informacemi.</p>
        </div>
    </div>
    <div class="row bg-white py-1 mb-5">
        <div class="col-12 mt-1">
            <p class="fs-4">Psychologové čekající na schválení</p>
        </div>
        <div class="col">
            <div class="table-responsive mb-2 mb-sm-0">
                <table class="table table-hover align-middle">
                    <thead>
                    <tr>
                        <th scope="col" class="col-4">Psycholog</th>
                        <th scope="col" class="col-4">Datum registrace</th>
                        <th scope="col" class="col-4">Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for psychologist in object_list %}
                        <tr class="align-middle">
                            <td>{{ psychologist }}</td>
                            <td>{{ psychologist.date_joined }}</td>
                            <td>
                                <!-- REJECT PSYCHOLOGIST MODAL FORM -->
                                <div class="modal fade" tabindex="-1" id="rejectModal-{{ psychologist.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Upozornění</h5>
                                                <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Zamítnutím registrace psychologa {{ psychologist }} odstraníte jeho
                                                    účet a bude se muset případně registrovat znovu.</p>
                                                <p>Opravdu chcete pokračovat?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form class="row row-cols-auto g-1">
                                                    {% csrf_token %}
                                                    <div class="col">
                                                        <input type="submit"
                                                               formaction="{% url 'sportdiag:reject_psychologist' psychologist.id %}"
                                                               formmethod="post"
                                                               class="btn btn-danger form-control"
                                                               value="Zamítnout">
                                                    </div>
                                                    <div class="col">
                                                        <input type="button" class="btn btn-secondary"
                                                               data-bs-dismiss="modal" value="Zrušit">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END REJECT PSYCHOLOGIST MODAL FORM -->
                                <!-- APPROVE PSYCHOLOGIST MODAL FORM -->
                                <div class="modal fade" tabindex="-1" id="approveModal-{{ psychologist.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Upozornění</h5>
                                                <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Schválením registrace psychologa {{ psychologist }} mu umožníte
                                                    přístup do aplikace.</p>
                                                <p>Opravdu chcete pokračovat?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form class="row row-cols-auto g-1">
                                                    {% csrf_token %}
                                                    <div class="col">
                                                        <input
                                                                type="submit"
                                                                formaction="{% url 'sportdiag:approve_psychologist' psychologist.id %}"
                                                                formmethod="post"
                                                                class="btn btn-success form-control"
                                                                value="Schválit">
                                                    </div>
                                                    <div class="col">
                                                        <input type="button" class="btn btn-secondary"
                                                               data-bs-dismiss="modal" value="Zrušit">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END APPROVE PSYCHOLOGIST MODAL FORM -->
                                <form class="row row-cols-auto g-1">
                                    {% csrf_token %}
                                    <div class="col">
                                        <input type="submit"
                                               formaction="{% url 'sportdiag:download_certificate' psychologist.id %}"
                                               formmethod="get" class="btn btn-info btn-sm form-control"
                                               value="Zobrazit certifikát">
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-danger btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#rejectModal-{{ psychologist.id }}">
                                            Zamítnout
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-success btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#approveModal-{{ psychologist.id }}">
                                            Schválit
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>No psychologists yet.</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'sportdiag:approve_psychologists' page=page_obj.previous_page_number %}">Předchozí</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Předchozí</a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator %}
                    {% if page.number == page_obj.number %}
                        <li class="page-item active">
                            {% else %}
                        <li class="page-item">
                    {% endif %}
                <a class="page-link"
                   href="{% url 'sportdiag:approve_psychologists' page=page.number %}">{{ page.number }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'sportdiag:approve_psychologists' page=page_obj.next_page_number %}">Další</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Další</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row bg-white py-1">
        <div class="col-12 mt-1">
            <p class="fs-4">Přehled psychologů</p>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}