{% extends 'sportdiag/common/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'sportdiag/css/index.css' %}">
{% endblock %}

{% block title %}Sportdiag - GDPR{% endblock %}

{% block content %}
<div class="container-md pt-3">
    <div class="row mb-4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
            <h1 class="mb-3">Zásady ochrany osobních údajů</h1>
            <h2>I. Základní ustanovení</h2>
            <ol>
                <li>
                    <p>
                        Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského parlamentu a Rady (EU) 2016/679 o
                        ochraně fyzických osob v
                        souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen: „GDPR”) je
                        Asociace Psychologů
                        Sportu, z.s. IČ 61380385 se sídlem Fakulta tělesné kultury, třída Míru 115, Olomouc, 77900 (dále
                        jen: „správce“).
                    </p>
                </li>
                <li>
                    <span>Kontaktní údaje správce jsou</span>
                    <address>
                        <ul>
                            <li>
                                <span>adresa: </span>
                                <span>Fakulta tělesné kultury, třída Míru 115, Olomouc</span>
                            </li>
                            <li>
                                <span>
                                    <span>email: </span>
                                    <a href="mailto:info@apscr.info">info@apscr.info</a>
                                </span>

                            </li>
                            <li>
                                <span>
                                    <span>telefon: </span>
                                    <a href="tel:+420731268440">731 268 440</a>
                                </span>
                            </li>
                        </ul>
                    </address>
                </li>
                <li>
                    <p>
                        Osobními údaji se rozumí veškeré informace o identifikované nebo identifikovatelné fyzické
                        osobě; identifikovatelnou
                        fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na
                        určitý identifikátor,
                        například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden či více
                        zvláštních prvků
                        fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této
                        fyzické osoby.
                    </p>
                </li>
                <li>
                    <p>
                        Správce nejmenoval pověřence pro ochranu osobních údajů.
                    </p>
                </li>
            </ol>
            <h2>II. Zdroje a kategorie zpracovávaných osobních údajů</h2>
            <ol>
                <li>
                    <p>Správce zpracovává osobní údaje, které jste mu poskytl/a.</p>
                </li>
                <li>
                    <p>Správce zpracovává Vaše identifikační a kontaktní údaje.</p>
                </li>
            </ol>
            <h2>III. Zákonný důvod a účel zpracování osobních údajů</h2>
            <ol>
                <li>
                    <p>Zákonným důvodem zpracování osobních údajů je</p>
                    <ul>
                        <li>
                            <p>plnění smlouvy mezi Vámi a správcem podle čl. 6 odst. 1 písm. b&rpar; GDPR</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Účelem zpracování osobních údajů je:</p>
                    <ul>
                        <li>
                            <p>sběr dat v rámci výzkumu v oblasti psychodiagnostiky ve sportu a interpretace výsledků.
                            </p>
                        </li>
                        <li>
                            <p>kontaktování za účelem interpretace získaných výsledků výzkumníkem či administrujícím
                                psychologem.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Ze strany správce nedochází k automatickému individuálnímu rozhodování ve smyslu čl. 22 GDPR.
                        S takovým zpracováním
                        jste poskytl/a svůj výslovný souhlas.</p>
                </li>
            </ol>
            <h2>IV. Doba uchovávání údajů</h2>
            <ol>
                <li>
                    <p>Správce uchovává osobní údaje</p>
                    <ul>
                        <li>
                            <p>po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi Vámi
                                a správcem a uplatňování
                                nároků z těchto smluvních vztahů (po dobu 30 let od ukončení smluvního vztahu).</p>
                        </li>
                        <li>
                            <p>po dobu, než je odvolán souhlas se zpracováním osobních údajů pro účely výzkumu.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Po uplynutí doby uchovávání osobních údajů správce osobní údaje vymaže.</p>
                </li>
            </ol>
            <h2>V. Příjemci osobních údajů (subdodavatelé správce)</h2>
            <ol>
                <li>
                    <p>Příjemci osobních údajů jsou osoby</p>
                    <ul>
                        <li>
                            <p>Administrátoři testových metod – psychologové.</p>
                        </li>
                        <li>
                            <p>Osoby zpracovávající data za účelem vědeckého výzkumu.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Správce nemá v úmyslu předat osobní údaje do třetí země (do země mimo EU) nebo mezinárodní
                        organizaci. Příjemci
                        osobních údajů ve třetích zemích jsou poskytovatelé mailingových služeb / cloudových služeb.</p>
                </li>
            </ol>
            <h2>VI. Vaše práva</h2>
            <ol>
                <li>
                    <p>Za podmínek stanovených v GDPR máte</p>
                    <ul>
                        <li>
                            <p>právo na přístup ke svým osobním údajům dle čl. 15 GDPR,</p>
                        </li>
                        <li>
                            <p>právo opravu osobních údajů dle čl. 16 GDPR, popřípadě omezení zpracování dle čl. 18
                                GDPR.</p>
                        </li>
                        <li>
                            <p>právo na výmaz osobních údajů dle čl. 17 GDPR.</p>
                        </li>
                        <li>
                            <p>právo vznést námitku proti zpracování dle čl. 21 GDPR a</p>
                        </li>
                        <li>
                            <p>právo na přenositelnost údajů dle čl. 20 GDPR.</p>
                        </li>
                        <li>
                            <p>právo odvolat souhlas se zpracováním písemně nebo elektronicky na adresu nebo email
                                správce uvedený v čl. III těchto
                                podmínek.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Dále máte právo podat stížnost u Úřadu pro ochranu osobních údajů v případě, že se domníváte, že
                        bylo porušeno Vaší
                        právo na ochranu osobních údajů.</p>
                </li>
            </ol>
            <h2>VII. Podmínky zabezpečení osobních údajů</h2>
            <ol>
                <li>
                    <p>Správce prohlašuje, že přijal veškerá vhodná technická a organizační opatření k zabezpečení
                        osobních údajů.</p>
                </li>
                <li>
                    <p>Správce přijal technická opatření k zabezpečení datových úložišť a úložišť osobních údajů
                        v listinné podobě.</p>
                </li>
                <li>
                    <p>Správce prohlašuje, že k osobním údajům mají přístup pouze jím pověřené osoby.</p>
                </li>
            </ol>
            <h2>VIII. Závěrečná ustanovení</h2>
            <ol>
                <li>
                    <p>Odsouhlasením potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém
                        rozsahu přijímáte.
                    </p>
                </li>
                <li>
                    <p>S těmito podmínkami souhlasíte zaškrtnutím souhlasu prostřednictvím internetového formuláře.
                        Zaškrtnutím souhlasu
                        potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu
                        přijímáte.</p>
                </li>
                <li>
                    <p>Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek ochrany osobních údajů zveřejní na
                        svých internetových
                        stránkách, případně Vám zašle novou verzi těchto podmínek na e-mailovou adresu, kterou jste
                        správci poskytl/a.</p>
                </li>
            </ol>
            <span>Tyto podmínky nabývají účinnosti dnem 30.3.2024.</span>
        </div>
    </div>
</div>

{% include "sportdiag/common/footer.html" %}

{% endblock %}