{% extends 'sportdiag/common/base.html' %}

{% block title %}Sportdiag{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Home</h1>
        </div>
        <hr>
    </div>
    <!-- todo pro klienta zobrazit "nemate zadne dotazniky" nebo button vyplnit dotaznik -->
    {% if user.is_psychologist %}
        <!-- todo psycholog vidi seznam klientu? -->
        <ul>
            {% for client in object_list %}
                <li>{{ client }}</li>
            {% empty %}
                <li>No clients yet.</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}