{% extends 'sportdiag/common/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sportdiag/css/index.css' %}">
{% endblock %}

{% block title %}Sportdiag{% endblock %}

{% block content %}
    <div class="container-md pt-3">
        {#  TODO max width of body 40-50%  #}
        <div class="row mb-4">
            <div class="col">
                <!-- todo doplnit &nbsp, zminka o katedre informatiky? -->
                <!-- todo jak funguje aplikace bych asi nepopisoval? -->
                <h1 class="mb-3">Psychodiagnostické testy ze sportovní oblasti</h1>
                <p class="fs-5">
                    Psychologie sportu je dynamicky se rozvíjející obor. Proto vám přinášíme sadu psychodiagnostických
                    testů ze sportovní oblasti, zaměřených na komplexní analýzu psychické složky výkonu sportovce.
                </p>
                <p class="fw-bolder">Naším cílem je</p>
                <ul class="goals-list">
                    <li class="goals-list__item">
                        <img src="{% static 'img/bullseye.svg' %}" alt="goal icon" width="24px" height="24px">
                        <span>Poskytnou praktikům – psychologům sportu nástroje pro komplexní analýzu psychické složky výkonu sportovce</span>
                    </li>
                    <li class="goals-list__item">
                        <img src="{% static 'img/bullseye.svg' %}" alt="goal icon" width="24px" height="24px">
                        <span>Napomoci sportovcům systematicky pracovat na psychické složce svého výkonu a monitorovat její stav</span>
                    </li>
                    <li class="goals-list__item">
                        <img src="{% static 'img/bullseye.svg' %}" alt="goal icon" width="24px" height="24px">
                        <span>Díky online prostředí zefektivnit administraci a interpretaci testů</span>
                    </li>
                    <li class="goals-list__item">
                        <img src="{% static 'img/bullseye.svg' %}" alt="goal icon" width="24px" height="24px">
                        <span>Získat výzkumná data pro další rozvoj testů i psychologie sportu</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h2 class="mb-3">Testy</h2>
                <p>Využití testů pro psychology a klienty je bezplatné. Aplikace umožňuje trojí různý přístup – z pozice
                    klienta, psychologa a výzkumníka.</p>
                <p class="fw-bolder">Aktuálně jsou k dispozici následující testy</p>
                <ul class="surveys-list">
                    <li class="surveys-list__item">
                        <img src="{% static 'img/file-text.svg' %}" alt="goal icon" width="24px" height="24px">
                        <span>Dotazník copingových dovedností pro rozhodčí (ACSI-28 pro rozhodčí)</span></li>
                    <li class="surveys-list__item">
                        <img src="{% static 'img/file-text.svg' %}" alt="goal icon" width="24px" height="24px">
                        <span>Dotazník copingových dovedností pro sportovce (ACSI-28 pro sportovce)</span></li>
                    <li class="surveys-list__item">
                        <img src="{% static 'img/file-text.svg' %}" alt="goal icon" width="24px" height="24px">
                        <span>Dotazník psychických vlastností nutných k rozvoji výjimečnosti (PCDEQ)</span></li>
                    <li class="surveys-list__item">
                        <img src="{% static 'img/file-text.svg' %}" alt="goal icon" width="24px" height="24px">
                        <span>Dotazník živosti pohybové imaginace (VMIQ-2)</span>
                    </li>
                    {# <li>Ottawský dotazník mentálních dovedností ve sportu 3* (OMNSAT-3*)</li> #}
                    {# <li>Krátká škála Flow – FSS-2</li> #}
                </ul>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h2 id="beneficiaries" class="mb-3">Beneficienti</h2>
                <p>Tato aplikace vznikala ve spolupráci s Asociaci psychologů sportu ČR a Fakultou tělesné kultury
                    Univerzity Palackého.</p>
                <ul class="beneficiaries-list mt-4">
                    <li class="beneficiaries-list__item">
                        <a href="//www.sportpsy.upol.cz" class="aps-img-link">
                            <img src="{% static 'img/aps-logo.png' %}"
                                 width="170px" height="auto"
                                 alt="logo Asociace psychologů sportu">
                        </a>
                        {# <a href="//www.sportpsy.upol.cz">Asociace psychologů sportu</a> #}
                    </li>
                    <li class="beneficiaries-list__item">
                        <a href="//www.ftk.upol.cz">
                            <img src="{% static "img/hlavicka_ftk_studenti_cz_barva.svg" %}"
                                 alt="logo Fakulta tělesné kultury UPOL" width="250px" height="auto">
                        </a>
                        {# <a href="//www.ftk.upol.cz">Fakulta tělesné kultury UPOL</a> #}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-dark pb-3">
            <div class="col">
                <footer>
                    <h2 id="contact" class="my-3 text-white">Kontakt</h2>
                    <address>
                        <ul class="contact-list">
                            <li class="contact-list__item text-white">
                                <i class="bi bi-person-circle"></i>
                                <span>Mgr. Michal Vičar, Ph.D.</span>
                            </li>
                            <li class="contact-list__item text-white">
                                <i class="bi bi-geo-alt"></i>
                                <div>
                                    <span>Univerzita Palackého v&nbsp;Olomouci</span>
                                    <span>Fakulta&nbsp;tělesné&nbsp;kultury | Katedra&nbsp;rekreologie |</span>
                                    <span>třída&nbsp;Míru&nbsp;117, 771&nbsp;11&nbsp;Olomouc | NC&nbsp;3.20</span>
                                </div>
                            </li>
                            <li class="contact-list__item text-white">
                                <i class="bi bi-envelope"></i>
                                <a href="mailto:michal.vicar@upol.cz" class="text-white">michal.vicar@upol.cz</a>
                            </li>
                            <li class="contact-list__item text-white">
                                <i class="bi bi-telephone"></i>
                                <a href="tel:+420731268440" class="text-white">+420 731 268 440</a>
                            </li>
                            <li class="contact-list__item text-white">
                                <i class="bi bi-globe"></i>
                                <a href="//www.michalvicar.cz" class="text-white">www.michalvicar.cz</a>
                            </li>
                        </ul>
                    </address>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}