{% extends 'sportdiag/common/base.html' %}

{% load sportdiag_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Sportdiag | Dotazníky a manuály{% endblock %}

{% block content %}
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col">
                <h1>Dotazníky a manuály</h1>
            </div>
            <hr>
        </div>
        {% if user.is_researcher and user.is_staff %}
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-end my-3">
                        <a href="#" class="btn btn-primary disabled">Importovat dotazník z .xml</a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for survey in surveys %}
                        <!-- UPLOAD FILES MODAL FORM -->
                        {% if user.is_researcher and user.is_staff %}
                            <div class="modal fade" tabindex="-1" id="uploadModal-{{ survey.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Nahrávání příloh</h5>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" enctype="multipart/form-data"
                                                  action="{% url 'sportdiag:upload_survey_attachments' survey.id %}">
                                                {% csrf_token %}
                                                {% crispy upload_attachments_form %}
                                                <div class="d-flex justify-content-end gap-1">
                                                    <input type="submit" class="btn btn-primary" value="Nahrát">
                                                    {%  comment %}
                                                closing modal doesn't remove selected files in form field - solve (link to this page on close?)
                                                    {%  endcomment %}
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Zrušit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END UPLOAD FILES MODAL FORM -->
                            <!-- todo DELETE SURVEY CONFIRM MODAL -->
                            <!-- END DELETE SURVEY CONFIRM MODAL -->
                        {% endif %}
                        <li class="list-group-item">
                            <div class="row my-3 align-items-center justify-content-between">
                                <div class="col-auto">
                                    <span class="fs-3">{{ survey }}</span>
                                </div>
                                {% if user.is_researcher and user.is_staff %}
                                    <div class="col">
                                        <div class="d-flex flex-wrap justify-content-end gap-1">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#uploadModal-{{ survey.id }}">
                                                Přidat přílohy
                                            </button>
                                            <a href="#" class="btn btn-sm btn-danger">Odstranit dotazník</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <span class="d-block text-secondary mb-1">Přílohy:</span>
                                    <div class="d-inline-flex align-items-center flex-wrap gap-1">
                                        {% for survey_id, attachments_names in surveys_attachments.items %}
                                            {% if survey_id == survey.id %}
                                                {% for attachment_name in attachments_names %}
                                                    <form>
                                                        {% csrf_token %}
                                                        <div class="d-flex">
                                                            <input type="submit"
                                                                   formaction="{% url 'sportdiag:download_survey_attachment' survey.id attachment_name %}"
                                                                   formmethod="get"
                                                                   class="btn btn-sm btn-light"
                                                                   value="{{ attachment_name }}">
                                                            {% if user.is_researcher and user.is_staff %}
                                                                <input type="submit"
                                                                       formaction="{% url 'sportdiag:delete_survey_attachment' survey.id attachment_name %}"
                                                                       formmethod="post"
                                                                       class="btn btn-sm bg-light text-danger"
                                                                       value="X">
                                                            {% endif %}
                                                        </div>
                                                    </form>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <span class="d-block text-secondary mb-1">Popis:</span>
                                </div>
                                <div class="col">
                                    <p class="fw-light">{{ survey.description }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
