{% extends 'sportdiag/common/base.html' %}

{% load static %}

{% block title %}Sportdiag | Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Přehled klientů</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col fw-light">
            <p>Pokud klienta požádáte o responzi zvoleného dotazníku, bude mu zaslán informativní
                e-mail s pozvánkou k vyplnění dotazníku.</p>
            <p>Jakmile dotazník vyplní a odešle, budete informován(a) e-mailem o nové responzi a budete klienta moci
                znovu požádat o další responzi.</p>
        </div>
    </div>
    <ul class="list-group">
        {% for client in clients %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <a href="">{{ client }}</a>
                    </div>
                    <div class="col-6">
                        <select id="surveySelect-{{ client.user.id }}" class="form-select form-select-sm"
                                aria-label="surveySelect-{{ client.user.id }}"
                                onchange="surveyChanged(this.value, {{ client.user.id }}, {{ client_response_requests }}, '{% url "sportdiag:request_survey_response" %}', {{ client_ids_no_pending_request }})">
                            {% for survey in surveys %}
                                <option value="{{ survey.id }}">{{ survey.name }}</option>
                            {% empty %}
                                <option value="None">Žádné dotazníky</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col" id="actionBtnWrapper-{{ client.user.id }}">
                        {% if client.user.id in client_ids_where_pending_survey_response_request %}
                            <!-- todo button zrusit zadost o responzi -->
                            <button type="button" class="btn btn-primary btn-sm" disabled>
                                Responze vyžádána
                            </button>
                        {% else %}
                            <button id="requestSurveyResponseBtn-{{ client.user.id }}" type="button"
                                    class="btn btn-primary btn-sm align-middle"
                                    onclick="requestSurveyResponse('{% url "sportdiag:request_survey_response" %}',
                                            {{ client.user.id }}, {{ client_ids_no_pending_request }})">
                                <span>Požádat o responzi</span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">Nemáte žádné klienty.</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'sportdiag/js/psychologist_home_deprecated.js' %}"></script>
{% endblock %}