{% extends 'sportdiag/common/base.html' %}

{% block title %}Sportdiag | Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Přehled klientů</h1>
        </div>
        <hr>
    </div>
    <div class="list-group">
        {% for client in object_list %}
            <a href="" class="list-group-item list-group-item-action">{{ client }}</a>
        {% empty %}
            <p>Nemáte žádné klienty.</p>
        {% endfor %}
    </div>
{% endblock %}