{% extends 'sportdiag/common/base.html' %}

{% load static %}

{% block title %}Sportdiag | Home{% endblock %}

{% block content %}
    <script src="https://unpkg.com/vue@3"></script>
    <script type='text/javascript'>
        const responseRequestsJson = {{ client_response_requests_json|safe }};
        const clientsJson = {{ clients_paginated|safe }};
        const surveysJson = {{ surveys_json|safe }};
    </script>
    <div class="container-xl bg-light p-4">
        <div class="row">
            <div class="col">
                <h1>Přehled klientů</h1>
            </div>
            <hr>
        </div>
        <div id="app">
            <div v-if="!isClientsEmpty">
                <div class="row">
                    <div class="col fw-light">
                        <p>Pokud klienta požádáte o responzi zvoleného dotazníku, bude mu zaslán informativní
                            e-mail s pozvánkou k vyplnění dotazníku.</p>
                        <p>Jakmile dotazník vyplní a odešle, budete informován(a) e-mailem o nové responzi a budete
                            klienta
                            moci
                            znovu požádat o další responzi.</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary" href="{% url 'sportdiag:invite_client' %}">
                                <i class="bi bi-plus-circle"></i> Pozvat klienta</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group mb-3">
                    <li v-for="client in clients.items" class="list-group-item py-3" :key="client.pk">
                        <div class="row align-items-center g-3">
                            <div class="col-xs-12 col-md-3 col-xl-4">
                                <a :href="client.detail_url">[[getClientFullname(client)]]</a>
                            </div>
                            <div class="col-xs-12 col-md-5">
                                <select class="form-select form-select-sm"
                                        @change="surveyChanged($event, client.pk)">
                                    <option v-if="surveys.length > 0" v-for="survey in surveys" :value="survey.pk">
                                        <!-- :disabled="resolveOption(client.pk, survey.pk)" -->
                                        [[survey.fields.name]]
                                    </option>
                                    <option v-else>Žádné dotazníky</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-3 col-xl-2">
                                <div v-if="surveys.length > 0">
                                    <button v-if="resolveButton(client.pk)" type="button"
                                            class="btn btn-primary btn-sm disabled">
                                        Responze vyžádána
                                    </button>
                                    <button v-else type="button" class="btn btn-primary btn-sm align-middle"
                                            :ref="`requestResponseBtn-${client.pk}`"
                                            @click="requestSurveyResponse(client.pk, '{% url "sportdiag:request_survey_response" %}')">
                                        <span :ref="`spinner-${client.pk}`"
                                              class="spinner-border spinner-border-sm me-1 d-none"
                                              role="status"
                                              aria-hidden="true"></span>
                                        <span>Požádat o responzi</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="pagination justify-content-end">
                    <li v-if="clients.has_previous_page" class="page-item">
                        <a class="page-link"
                           :href="getPageUrl(currentPage-1)">Předchozí</a>
                    </li>
                    <li v-else class="page-item disabled">
                        <span class="page-link">Předchozí</span>
                    </li>
                    <li v-for="pageNum in clients.pages_total"
                        :class="pageNum === currentPage ? 'page-item active' : 'page-item'"
                        :ref="`paginationItem-${pageNum}`">
                        <a class="page-link"
                           :href="getPageUrl(pageNum)">[[pageNum]]</a>
                    </li>
                    <li v-if="clients.has_next_page" class="page-item">
                        <a class="page-link"
                           :href="getPageUrl(currentPage+1)">Další</a>
                    </li>
                    <li v-else class="page-item disabled">
                        <span class="page-link">Další</span>
                    </li>
                </ul>
            </div>
            <ul v-else class="list-group">
                <li class="list-group-item">Nemáte žádné klienty.</li>
            </ul>
        </div>
    </div>
    <script>
        const app = Vue.createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    responseRequests: responseRequestsJson,
                    surveys: surveysJson,
                    selectionState: {},
                    clientDetailUrl: "/ucty/detail_klienta/", // todo not very good - hardcoded url
                    isClientsEmpty: false,
                    clients: clientsJson,
                    psychologistHomeBaseUrl: '{% url "sportdiag:home_psychologist" %}',
                    currentPage: parseInt(clientsJson.page_number),
                }
            },
            beforeMount() {
                // init selection state - each client has selected first survey initially
                if (this.clients.items.length === 0) {
                    this.isClientsEmpty = true;
                } else {
                    for (let i = 0; i < this.clients.items.length; i++) {
                        this.selectionState[this.clients.items[i].pk] = this.surveys[0]?.pk ?? "None";
                    }
                }
            },
            methods: {
                getPageUrl(page) {
                    return `${this.psychologistHomeBaseUrl}?page=${page}`;
                },
                getClientFullname(client) {
                    return client.first_name + ' ' + client.last_name;
                },
                surveyChanged(event, clientId) {
                    this.selectionState[clientId] = parseInt(event.target.value);
                },
                resolveButton(clientId) {
                    return this.responseRequests[clientId].includes(this.selectionState[clientId]);
                },
                resolveOption(clientId, surveyId) {
                    return this.responseRequests[clientId].includes(surveyId);
                },
                requestSurveyResponse(clientId, requestUrl) {
                    selectedSurveyId = this.selectionState[clientId];
                    let button = this.$refs[`requestResponseBtn-${clientId}`];
                    let spinner = this.$refs[`spinner-${clientId}`];
                    button[0].classList.add("disabled");
                    spinner[0].classList.remove("d-none");
                    $.ajax({
                        type: "POST",
                        url: requestUrl,
                        beforeSend: (xhr) => {
                            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                        },
                        data: {
                            "client_id": clientId,
                            "survey_id": selectedSurveyId,
                        },
                        success: (response) => {
                            this.responseRequests[clientId].push(selectedSurveyId);
                        },
                        error: (response) => {
                            // todo logging console.log("REQUEST_SURVEY_RESPONSE_ERROR", response);
                        },
                        complete: () => {
                            button[0].classList.remove("disabled");
                            spinner[0].classList.add("d-none");
                        },
                    });
                },
            },
        });
        app.mount('#app');
    </script>
{% endblock %}