{% extends 'sportdiag/common/base.html' %}

{% load crispy_forms_tags %}
{% load sportdiag_filters %}

{% block title %}Sportdiag | Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Výsledky testování</h1>
        </div>
        <hr>
    </div>
    <div class="row bg-white py-2 mb-3">
        <div class="col">
            {% crispy filter_form %}
        </div>
    </div>
    <div class="row bg-white py-2"> <!-- <div class="row bg-white py-1"> -->
        <div class="col-12 mt-1 mb-2">
            <div class="d-flex justify-content-end">
                {% if survey_id %}
                    <a href="{% url 'sportdiag:export_survey_responses_to_csv' survey_id %}" class="btn btn-primary">
                        Exportovat do .csv</a>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="table-responsive mb-2">
                <table class="table table-hover table-bordered table-sm align-middle">
                    <thead>
                    <tr>
                        <th scope="col" class="col text-nowrap text-center">#</th>
                        <th scope="col" class="col text-nowrap text-center">Datum responze</th>
                        <th scope="col" class="col text-nowrap text-center">ID Responze</th>
                        <th scope="col" class="col text-nowrap text-center">ID Klienta</th>
                        <th scope="col" class="col text-nowrap text-center">Statní příslušnost</th>
                        <th scope="col" class="col text-nowrap text-center">Pohlaví</th>
                        <th scope="col" class="col text-nowrap text-center">Věk</th>
                        {% for question in questions %}
                            <th scope="col" class="col text-center">{{ question|question }}</th>
                        {% endfor %}
                        <th scope="col" class="col text-nowrap text-center">Skóre</th>
                        <th scope="col" class="col text-nowrap text-center">Max skóre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in page_obj.object_list %}
                        <tr>
                            <td class="text-nowrap text-center">{{ item.row_number }}</td>
                            <td class="text-nowrap">{{ item.created }}</td>
                            <td class="text-nowrap"><a
                                    href="{% url 'sportdiag:response_detail' item.response_id %}">{{ item.interview_uuid }}</a>
                            </td>
                            <td class="text-nowrap">{{ item.client_uuid }}</td>
                            <td class="text-nowrap text-center">{{ item.nationality }}</td>
                            <td class="text-nowrap text-center">{{ item.sex }}</td>
                            <td class="text-nowrap text-center">{{ item.age }}</td>
                            {% for answer in item.answers %}
                                <td class="text-nowrap text-center">
                                    {{ answer|answer }}
                                </td>
                            {% endfor %}
                            <td class="text-nowrap text-center">{{ item.score|floatformat }}</td>
                            <td class="text-nowrap text-center">{{ item.max_score }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td></td>
                            <td>Žádná data.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'sportdiag:home_researcher' page=page_obj.previous_page_number %}">Předchozí</a>
                    </li>
                {% else %}
                    <li class=" page-item disabled">
                        <a class="page-link">Předchozí</a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator %}
                    {% if page.number == page_obj.number %}
                        <li class="page-item active">
                            {% else %}
                        <li class="page-item">
                    {% endif %}
                <a class="page-link"
                   href="{% url 'sportdiag:home_researcher' page=page.number %}">{{ page.number }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'sportdiag:home_researcher' page=page_obj.next_page_number %}">Další</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Další</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}