{% extends 'sportdiag/common/base.html' %}

{% block title %}Sportdiag | Registrace{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Vaše e-mailová adresa je nyní ověřená.</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col">
            {% if user.is_psychologist %}
                <div class="fw-light">
                    <p><strong>Vaši registraci musí ještě potvrdit správce aplikace</strong>, to může chvíli trvat.</p>
                    <p>Jakmile vaši registraci správce potvrdí, systém vás bude informovat e-mailem.</p>
                    <p>Poté se budete moci přihlásit.</p>
                </div>
                <a href="{% url 'sportdiag:index' %}" class="btn btn-primary">Rozumím</a>
            {% else %}
                <p>Váš účet byl aktivován.</p>
                <p>Nyní se můžete <a href="{% url 'login' %}">přihlásit</a>.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}