{% extends 'sportdiag/common/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sportdiag | Registrace{% endblock %}

{% block content %}
    <div class="container-xl bg-light p-4">
        <div class="row">
            <div class="col">
                <h1>Registrace klienta</h1>
            </div>
            <hr>
        </div>
        <!-- MODAL TERMS OF USE DETAIL -->
        <div class="modal fade" tabindex="-1" id="termsOfUseDetailModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Souhlas s účastí ve výzkumu a se zpracováním osobních údajů</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="text-primary">Informace o výzkumu</h5>
                        <section class="mb-2">
                            <span class="d-block"><strong>Název projektu: </strong>Standardizace psychodiagnostických metod pro psychologii sportu</span>
                            <span class="d-block"><strong>Kontakt: </strong><a
                                    href="mailto:=michal.vicar@upol.cz">michal.vicar@upol.cz</a></span>
                            <span class="d-block"><strong>Pracoviště: </strong>UP, Fakulta tělesné kultury, Katedra rekreologie</span>
                            <span class="d-block"><strong>Období řešení projektu: </strong><time
                                    datetime="2020-09-01">září 2020</time>
                            –
                            <time datetime="2025-01-01">leden 2025</time></span>
                        </section>
                        <h5 class="text-primary">Popis výzkumu</h5>
                        <p>Dobrý den,</p>
                        <p>chtěl bych Vás požádat o vyplnění několika dotazníků z&nbspoblasti psychologie sportu.
                            Získané
                            informace budou sloužit pro standardizaci – vytvoření jejich českých verzí. Pět metod
                            dotazníkového charakteru dohromady vytváří baterii pokrývající stěžejní témata psychologie
                            sportu v kontextu výkonnostního sportu (OMSAT-3*; ACSI-28; CSAI-2R; FSS-2; PCDEQ). Metody
                            jsou určeny především pro výzkum v oblasti psychologie sportu, ale i pro případnou budoucí
                            poradenskou praxi.</p>
                        <p>Vaše osobní údaje budeme uchovávat pouze po dobu sběru výzkumných dat, poté budou data
                            anonymizována, tj. převedena do podoby, která neumožňuje Vaši identifikaci.</p>
                        <p>Účast ve výzkumu je dobrovolná a máte právo se výzkumu nezúčastnit nebo z&nbspvýzkumu
                            odstoupit.
                            Získaná data v anonymní podobě mohou být použita v dalších výzkumných projektech v této
                            oblasti.</p>
                        <p>Pokud máte jakékoliv doplňující dotazy ohledně této studie, či zájem o výsledky z
                            jednotlivých
                            škál po ukončení sběru dat, můžete se obrátit na hlavního výzkumníka na e-mailovou
                            adresu:<span
                                    class="d-block mt-1 mb-2"><a
                                    href="mailto:=michal.vicar@upol.cz">michal.vicar@upol.cz</a></span>
                            <span class="d-block">Za ochotu děkuje,</span>
                            <span class="d-block">Mgr. Michal Vičar, Ph.D.</span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Rozumím</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL TERMS OF USE DETAIl -->
        <div class="row">
            <div class="col col-lg-4">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}