{% extends "sportdiag/common/base.html" %}

{% load crispy_forms_filters %}

{% block title %}Sportdiag | Přihlášení{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Přihlášení</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col col-lg-4">
            <!-- todo crispy labels ... totez obnoveni hesla -->
            <!-- todo stay signed in checkbox (sessions?) -->
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Přihlásit se" class="btn btn-primary mb-3">
            </form>
        </div>
    </div>
    <a href="{% url 'password_reset' %}">Zapomněli jste heslo?</a>
{% endblock %}