{% extends "sportdiag/common/base.html" %}

{% load crispy_forms_filters %}

{% block title %}Sportdiag | Obnovení hesla{% endblock %}

{% block content %}
    <div class="container-xl bg-light pt-3 pb-5 px-5">
        {% if validlink %}
            <div class="row pb-3 pt-2">
                <div class="col">
                    <h1>Zadejte nové heslo</h1>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col col-lg-4">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Změnit heslo" class="btn btn-primary">
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row pb-3 pt-2">
                <h1>Odkaz pro obnovení hesla je neplatný, protože již možná byl použit.</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}