{% extends "sportdiag/common/base.html" %}

{% block title %}Sportdiag | Obnovení hesla{% endblock %}

{% block content %}
    <div class="container-xl bg-light p-4">
        <div class="row">
            <div class="col">
                <h1>Obnovení hesla</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="fs-3">Zkontrolujte prosím vaši e-mailovou schránku.</p>
            </div>
        </div>
    </div>
{% endblock %}