{% extends "sportdiag/common/base.html" %}

{% load crispy_forms_filters %}

{% block title %}Sportdiag | Obnovení hesla{% endblock %}

{% block content %}
    <div class="container-xl bg-light pt-3 pb-5 px-5">
        <div class="row pb-3 pt-2">
            <div class="col">
                <h1>Obnovení hesla</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col col-lg-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Obnovit heslo" class="btn btn-primary mb-3">
                </form>
            </div>
        </div>
    </div>
{% endblock %}