{% extends "sportdiag/common/base.html" %}

{% load crispy_forms_filters %}

{% block title %}Sportdiag | Obnovení hesla{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Obnovení hesla</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col col-lg-4">
            <p>Zapomněli jste heslo?</p>
            <p>Zadejte svůj registrační e-mail a systém vám zašle pokyny k nastavení nového hesla.</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Obnovit heslo" class="btn btn-primary mb-3">
            </form>
        </div>
    </div>
{% endblock %}