{% extends "sportdiag/common/base.html" %}

{% block title %}Sportdiag | Obnovení hesla{% endblock %}

{% block content %}
    <div class="container-xl bg-light pt-3 pb-5 px-5">
        <div class="row pb-3 pt-2">
            <div class="col">
                <h1>Heslo bylo úspěšně změněno.</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="fs-3">
                Nyní se můžete <a href="{% url 'login' %}">přihlásit</a>.
            </div>
        </div>
    </div>
{% endblock %}