{% extends "sportdiag/common/base.html" %}

{% load crispy_forms_filters %}

{% block title %}Sportdiag | Nastavení hesla{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Nastavení hesla</h1>
        </div>
        <hr>
    </div>
    {% if validlink %}
        <div class="row">
            <div class="col col-lg-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Nastavit heslo" class="btn btn-primary">
                </form>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-6">
                <p class="fs-3">Odkaz pro obnovení hesla je neplatný.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}