:root {
    --color-bs-dark: #212529;
}

.beneficiaries-list {
    display: flex;
    list-style: none;
    align-items: center;
    flex-flow: row wrap;
    /*background-color: #bcbebd;*/
    padding: 1em;
    background: linear-gradient(90deg, rgba(83, 83, 83, 0.43599446614583337) 0%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0) 100%);
}

.beneficiaries-list__item {
    display: flex;
    justify-content: center;
    flex: 1;
}

.beneficiaries-list__item a {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.beneficiaries-list__item img {
    display: block;
    width: 100%;
    height: auto;
    /*background-color: rgba(83, 83, 83, 0.43599446614583337);
    padding: 1em;*/
}

.surveys-list {
    list-style: url("../img/file-text.svg");
}

.contact-list {
    list-style: none;
    padding: 0;
}

.footer {
    /*
    background-color: var(--color-bs-dark);
    color: white;
    */
}